/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #0074D9;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 0;
}

nav li {
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover {
    color: #FF4136;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
